
html {
  font-size: 16px;
}

#title {
  font-size: 1.5rem;
}

/*game center display*/

.game-display {
  padding-top: 8vh;
  overflow: hidden;
}

.start-menu-display {
  padding-bottom: 10vh;
}

/*buttons*/
.game-btn {
  width: 25vw;
  border-radius: 5%;
}

.start-btn {
  margin-top: 1vh;
}

.reset-btn {
max-width: 5rem;
  border-radius: 50%;
}


/*game table*/

.game-table {
  height: 24vh;
  width: 24vh;
  overflow: hidden;
}

.table-box {
  height: 8vh;
  height: 8vh;
  border: solid 1px;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  overflow: hidden;

}

#box-1 {
  border-top-left-radius: 10%;
}
#box-3 {
  border-top-right-radius: 10%;
}
#box-7 {
  border-bottom-left-radius: 10%;
}
#box-9 {
  border-bottom-right-radius: 10%;
}

/*randomizer wheel*/

.randomize-container {
  justify-content: center;
}

.randomizer {
  font-size: 1.5rem;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border: solid 2px;
  border-radius: 50%;
  background-color: aliceblue;
  text-align: center;
}


.selection {
  justify-content: center;
  margin-top: 5vh;
}

.start-btn-container {
  justify-content: center;
}